@import '../../assets/styles/global/breakpoints';

.favorites {
  background-color: var(--first-color);
  bottom: -1px;
  clear: both;
  padding: .5rem 1.2rem 3rem;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  width: 85%;
  z-index: var(--z-tooltip);
  transition: opacity .2s ease-in;

  &.active {
    display: block;
    opacity: 1;
  }

  .empty {
    text-align: center;
    line-height: 3rem;
  }
}

@include breakpoint-min(tablet) {
  .favorites {
    bottom: auto;
    padding: 2.3rem 1.2rem .5rem;
    top: 0;
    right: 1.5rem;
    width: 15.9375rem;
    border-radius: 0 0 8px 8px;
  }
}

@include breakpoint-min(desktop) {
  .favorites {
    padding: 2.5rem 1.2rem .5rem;
    right: 10%;
    width: 17.5625rem;
  }
}