@import '../../assets/styles/global/breakpoints';

.modal {
  display: none;
  position: fixed;
  z-index: var(--z-fixed);
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &.active {
    display: block;
    overflow-x: hidden;
  }

  &__content {
    background-color: var(--container-color);
    margin: 0;
    padding: 1rem;
    border: 1px solid #888;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    h3 {
      color: var(--text-color);
      font-size: var(--h1-font-size);
      font-weight: var(--font-bold);
    }

    svg {
      height: 34px;
      width: 34px;
    }
  }

  &__body {
    margin: 3rem auto 1.8rem;
    color: var(--text-color);

    &__form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 2rem;
    }

    .form {

      &__input {
        label {
          line-height: 2rem;
          font-size: var(--h3-font-size);
        }
      }

      &__radio {
        span {
          line-height: 4rem;
          font-size: var(--h3-font-size);
        }

        .radio__label {
          font-size: var(--h3-font-size)  ;
        }
      }

      &__file {

        label {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
        }
        span {
          font-size: var(--h3-font-size);
        }

        img {
          width: 4.375rem;
          height: 4.375rem;
        }
      }

      &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
          min-width: 120px;
        }
      }

    }
  }
}

@include breakpoint-min(tablet) {
  .modal {

    &__content {
      margin: 2.5rem auto;
      width: 90%;
      padding: 1.5rem 2.125rem 0;
      border-radius: 10px;
    }

    &__body {

      &__form {
        flex-direction: row;
        justify-content: space-between;
      }

      .form {
        &__input, &__radio, &__file {
          width: 310px;

          label, span, .radio__label {
            font-size: var(--normal-font-size);
          }
        }

        &__options {
          justify-content: flex-start;
          column-gap: 2rem;
        }

        &__file {
          width: 100%;

          img {
            width: 3.375rem;
            height: 3.375rem;
          }
        }

        button {
          display: block;
          width: 40%;
          margin: auto;
        }
      }
    }
  }
}

@include breakpoint-min(desktop) {
  .modal {

    &__content {
      margin: 7rem auto 0;
      width: 727px;
    }

    &__header {
      h3 {
        font-size: var(--h2-font-size);
      }
    }

    &__body {

      &__form {
        row-gap: 1rem;
      }

      .form {
        &__input, &__radio, &__file {
          width: 47%;
          label, span, .radio__label {
            font-size: var(--small-font-size);
          }
        }

        &__file {
          width: 100%;
          margin: 1rem 0 1.5rem 0;
        }
      }
    }
  }
}